.sidebar {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;

  z-index: 10;
  text-align: center;

  background-image: var(--background-gradient);
  color: #fff;
}

.sidebar > * {
  font-weight: 100;
  max-width: 700px;
  margin: auto;
}

.title {
  text-align: center;
  margin-top: 3rem;
}

.cities {
  list-style-type: none;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  margin-top: 3rem;
}

.closeBtn {
  position: fixed;
  bottom: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}
